<div class="jumbotron">


    <div class="row">
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
        <script>
            var type = 0;
            $(document).ready(function () {
                $("#searchbutton").click(function () {
                    $.post("/Home/ParsePayload?lib=" + type + "&payload=" + $("#jsonPay").val(), function (data) {
                        $("#jsonPay").val(JSON.stringify(data));
                    });
                });

                $("#getData1").click(function () {
                    $.get("/Home/Examplewithjson",
                        function (data) { $("#jsonPay").val(data); type = 1; });
                });

                $("#getData2").click(function () {
                    $.get("/Home/Examplewithnsoft",
                        function (data) { $("#jsonPay").val(data); type = 2 });
                });

            });

        </script>
        <input id="getData1" type="submit" value="Get JavaScriptSerializer Data" />
        <input id="getData2" type="submit" value="Get NewtonsoftSerializer Data" />
        <input id="jsonPay" type="text" style="width:800px;" />
        <input id="searchbutton" type="submit" value="Go" />
    </div>

</div>

